@import 'node_modules/@daveberning/griddle/src/scss/variables.scss';

@mixin generate_breakpoint_reporter {
  body:after {
    content: 'XS';
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 14px;
    font-weight: normal;
    position: fixed;
    top: 165px;
    right: 0;
    padding: 7px 10px;
    background-color: #EB8A5E;
    color: #fff;
    z-index: 9999;
    border-radius: 5px 0 0 5px;
    text-align: center;
    margin: 0 auto;

    @for $i from 1 through length($breakpoints) {
      @media (min-width: #{nth($breakpoint_values, $i)}) {
        & {
          content: '#{nth($breakpoints, $i)}';
          background-color: #EB8A5E;
          text-transform: uppercase;
        }
      }
    }
  }
}

// @include generate_breakpoint_reporter;

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  overflow-y: hidden;
}

.component {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 900;
  font-size: 7rem;
  line-height: 11rem;

  @media screen and (min-width: 1410px) {
    font-size: 8rem;
  }

  @media screen and (min-width: 2000px) {
    font-size: 6vw;
    line-height: 15rem;
  }

}

h2 {
  font-size: 2rem;
  font-weight: 300;

  @media screen and (min-width: 2000px) {
    font-size: 2vw;
  }

}

h1, h2 {
  color: #334241;
  text-align: center;
}

.slide-enter-to,
.slide-leave-to,
.slide-enter,
.slide-leave,
.slide-leave-active,
.slide-enter-active {
  position: fixed;
  left: 0;
  transition: all .3s ease-in-out;
  backface-visibility: visible;
}

.slide-enter-to,
.slide-leave,
.slide-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all .35s ease;

  .content {
    opacity: 1;
    transition: all .25s ease;
  }
}

.slide-enter,
.slide-leave-to {
  transform: translateY(100vh);
  opacity: 0;
  transition: all .35s ease;

  .content {
    opacity: 0;
    transition: all .25s ease;
    transition-delay: 0s !important;
  }
}


.img-responsive {
  height: auto;
  width: 100%;
}

.is-bold {
  font-weight: bold;
}

@import 'variables';
